*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
/* .main{
    width: 1360px;
} */
.span1{
    font-weight: bold;
    font-size: 20px;
    margin-left: 550px;
    
}
#random{
    width: 40px;
    height: 20px;
    margin-top: 40px;
   
}
#Generate{
    width: 80px;
    height: 20px;
    background-color:lightblue;
    border-radius: 5px;
    cursor: pointer;
}
#Generate:hover{
    background-color: white;
    color: blueviolet;
    transition: .5s ease-in-out;
}
h1{
    text-align: center;
    margin-top: 30px;
   
}
#para{
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
   margin-left: 350px;
   margin-top: 40px;
   color: rgba(0, 0, 0, .5);
   text-align: center;
}
